<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Start at date:</strong>
  <%= @course.start_at_date %>
</p>

<p>
  <strong>Finish at date:</strong>
  <%= @course.finish_at_date %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @course.coach %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
